.title1 {

	font-size: 200px;
	position: absolute;
	margin-top: -720px; 
	margin-left: 658px; 
	font-family: Helvetica; 
	font-weight: lighter; 
	color: white; 
    text-align: center;

	}

img{
		margin-right: 20px
		float: center;
	}
	
	
	
.title2 {
    font-size: 20px;
	position: absolute;
	margin-top: -500px; 
	margin-left: 775px; 
	font-family: Helvetica; 
	font-weight: lighter; 
	color: grey; 
	opacity: 10%
   }

h2:hover {
  color: white;
}

.xlog {
	position: relative;
	height:80px;
	margin-left: 850px;
	bottom: 650px;
}

.xlog2 {
	height:110px;
	position: relative;
	bottom: 658px;
	margin-left: 20px
}

.iphone {
	height: 700px; 
	position: relative;
	margin-left: 1330px;
		margin-top: 110px;

}

.galaxy {
	height: 800px; 
	margin-left: 100px;

	
}

ul {
    list-style-type: none;
    margin-top: -3px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	display: fixed; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Helvetica;
}


li a:hover {
    background-color: #111;
}

.s8d {
	color: #b3b3b3; 
	width: 400px; 
	font-family: Helvetica; 
	font-size: 22px
	}
	
	.s8d {
		margin-left: 550px; 
		margin-top: -650px;
	}
	
	.s8d:hover {
    color: black;
}



	.ixd {
	color: #b3b3b3; 
	width: 420px; 
	font-family: Helvetica; 
	font-size: 22px
	}

	.ixd {
		
		margin-left: 850px; 
		margin-top: -612px;
	}
	
	.ixd:hover {
    color: black;
}



